@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
$font-family: "Outfit", sans-serif;

// colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyan-transparent: hsla(178, 100%, 50%, 0.5);
$dark-blue: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$white: hsl(0, 0%, 100%);

// This is for the flex containers gap property.
$gap: 20px;

// mixins
@mixin hover-color($color) {
  &:hover {
    cursor: pointer;
    color: $color;
  }
}

@mixin inline-text-with-color($color) {
  display: inline;
  color: $color;
}

// utility classes
.font-light {
  font-weight: 300;
}

.opacity-8 {
  opacity: 0.8;
}

.flex {
  display: flex;
  gap: $gap;
}

// App styles start from here
body {
  font-family: $font-family;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: $card-bg;
  padding: 1.25rem;
  padding-bottom: 35px;
  width: 275px;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: $gap;

  .card-image {
    position: relative;
    height: 280px;
    background: url("../images/image-equilibrium.jpg");
    background-size: cover;
    border-radius: 0.6rem;
    background-position: center;

    .hover-eye {
      display: none;
      position: absolute;
      inset: 0;
      background-image: url("../images/icon-view.svg");
      background-color: $cyan-transparent;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      cursor: pointer;
      .hover-eye {
        display: block;
      }
    }
  }

  .title {
    color: $white;
    font-size: 1.25rem;
    font-weight: 400;
    @include hover-color($cyan);
  }

  .description {
    color: $soft-blue;
    font-size: 1rem;
    line-height: 1.4;
  }

  .meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .value {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      .meta-content {
        @include inline-text-with-color($cyan);
      }
    }

    .days-left {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      .meta-content {
        @include inline-text-with-color($soft-blue);
      }
    }
  }

  .ruler {
    width: 100%;
    border-top: 1px solid $soft-blue;
    opacity: 0.2;
  }

  .created-by {
    display: flex;
    align-items: center;
    .photo {
      background: url("../images/image-avatar.png");
      background-size: cover;
      height: 1.4rem;
      aspect-ratio: 1;
      border: 0.1rem solid white;
      border-radius: 50%;
      margin-inline-end: 0.8rem;
    }

    .light {
      color: $soft-blue;
    }

    .user-name {
      color: $white;
      font-size: 14px;
      font-weight: 300;
      @include hover-color($cyan);
    }
  }
}

//  Attribution
.attribution {
  position: fixed;
  bottom: 2px;
  font-size: 11px;
  text-align: center;
  color: white;

  a {
    padding-inline-start: 4px;
    color: hsl(228, 23%, 69%);
  }

  span {
    padding-left: 4px;
  }
}
