@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #0d192b;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

.font-light {
  font-weight: 300;
}

.opacity-8 {
  opacity: 0.8;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #14253d;
  padding: 1.25rem;
  padding-bottom: 35px;
  width: 275px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card .card-image {
  position: relative;
  height: 280px;
  background: url("../images/image-equilibrium.jpg");
  background-size: cover;
  border-radius: 0.6rem;
  background-position: center;
}

.card .card-image .hover-eye {
  display: none;
  position: absolute;
  inset: 0;
  background-image: url("../images/icon-view.svg");
  background-color: rgba(0, 255, 247, 0.5);
  background-repeat: no-repeat;
  background-position: center;
}

.card .card-image:hover {
  cursor: pointer;
}

.card .card-image:hover .hover-eye {
  display: block;
}

.card h2 {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
}

.card h2:hover {
  color: #00fff7;
  cursor: pointer;
}

.card .description {
  color: #8bacda;
  font-size: 1rem;
  line-height: 1.4;
}

.card .meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.card .meta .value {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.card .meta .value p {
  color: #00fff7;
  display: inline;
}

.card .meta .days-left {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.card .meta .days-left p {
  display: inline;
  color: #8bacda;
}

.card .ruler {
  width: 100%;
  border-top: 1px solid #8bacda;
  opacity: 0.2;
}

.card .created-by {
  display: flex;
  align-items: center;
}

.card .created-by .photo {
  background: url("../images/image-avatar.png");
  background-size: cover;
  height: 1.4rem;
  aspect-ratio: 1;
  border: 0.1rem solid white;
  border-radius: 50%;
  margin-inline-end: 0.8rem;
}

.card .created-by .light {
  color: #8bacda;
}

.card .created-by .user-name {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

.card .created-by .user-name:hover {
  color: #00fff7;
  cursor: pointer;
}
